<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dspot.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>  
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:name="Api" android:debuggable="true">
         
         <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:label="@string/app_name"
            android:name=".DSpotActivity"
            android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Registo" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="Inicial" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation"></activity>
        <activity android:name="MeTab"></activity>
        <activity android:name="FavouritesTab"></activity>
        <activity android:name="SearchTab" android:configChanges="orientation"></activity>
        <activity android:name="MapTab"></activity>
        <activity android:name="SearchByLocation" android:theme="@android:style/Theme.NoTitleBar" android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name="NewSpot" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="ViewSpotList" android:theme="@android:style/Theme.NoTitleBar"></activity>
        <activity android:name="ViewSpot" android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name="ViewSpotMap" android:theme="@android:style/Theme.NoTitleBar"></activity>
        
            
       
            
    </application>

</manifest>